@charset 'UTF-8';

/* index-replacement */

.index-replacement {
    padding: 55px 45px 0;
    position: relative;
}
.index-replacement::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 560px;
    top: 0;
    left: 0;
    background: url(../img/index_bg01.svg) top 10px left 10px no-repeat,
    url(../img/index_bg02.svg) right 10px top 10px no-repeat;
    background-color: #f3fbff;
}

.index-replacement .box-info {
    display: flex;
    position: relative;
    z-index: 9;
}

.index-replacement .box-img {
    display: block;
    margin-right: 50px;
}

.index-replacement .box-text {
    max-width: 410px;
    width: 100%;
}
.index-replacement .note {
    margin-bottom: 8px;
}
.index-replacement .note span {
    display: inline-block;
    font-size: 1.7rem;
    color: #0075CC;
    line-height: 1.7058;
    letter-spacing: 0.06em;
    font-weight: bold;
    border-bottom: 1px solid #0075CC;
}

.index-replacement .box-info .title {
    font-size: 2.8rem;
    line-height: 1.75;
    font-weight: bold;
    color: #002d4f;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
}

.index-replacement .box-midle {
    position: relative;
    z-index: 9;
    margin-top: -10px;
    display: flex;
    background: url(../img/index_img01.svg) right 15px top no-repeat;
    padding: 30px 0 10px;
}

.index-replacement .box-midle .title {
    font-size: 2.2rem;
    line-height: 2.45;
    text-align: center;
    font-weight: bold;
    color: #0075cc;
    background: url(../img/index_img02.svg) left 4px center no-repeat,
     url(../img/index_img03.svg) right 3px center no-repeat;
    padding: 0 30px;
}

.index-replacement .box-table {
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.index-replacement .box-table dl {
    max-width: 373px;
    width: 100%;
}

.index-replacement .box-table dl .title {
    display: block;
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
    background: #5e5e5e;
    text-align: center;
    padding: 11px 15px 10.44px;
}

.index-replacement .box-table dl:last-child .title {
    background: #0075cc;
}

.index-replacement .box-table dd {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #efefef;
    border-top: 4px solid #ffffff;
    padding: 9px 45px;
}
.index-replacement .box-table dl:last-child dd {
    padding: 0px 40px 1px 50px;
}

.index-replacement .name {
    font-size: 1.6rem;
    line-height: 1.875;
    font-weight: bold;
    color: #000000;
    display: block;
    margin-bottom: 5px;
}
.index-replacement .box-table .price {
    font-size: 1.8rem;
    color: #000000;
    font-weight: bold;
}
.index-replacement dl:last-child .name {
    margin-bottom: 9px;
}
.index-replacement .box-table dl:last-child .price {
    font-size: 2.6rem;
    color: #af0036;
    font-weight: bold;
}
.index-replacement .btn {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}



.index-replacement .btn a {
    display: block;
    width: 100%;
    background: #0075cc;
    font-size: 1.8rem;
    line-height: 1.555;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding: 21px 35px 17px 0px;
    transition: .3s;
    border-radius: 32px;
    box-shadow: 0 4px 0 #004d82;
}
.index-replacement .btn a:hover {
    text-decoration: none;
    box-shadow: none;
    transition: 0.5s;
    transform: translateY(4px);
} 

.index-replacement .btn a::after {
    background: url(../img/icon_arrow01.svg) right center no-repeat;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    right: 65px;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.3s;
}


/* index-chosen */

.index-chosen {}

.index-chosen .box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.index-chosen .info {
    width: 100%;
    max-width: 420px;
    margin-right: 20px;
}
.index-chosen .title {
    position: relative;
    font-size: 2rem;
    line-height: 1.75;
    letter-spacing: 0.06em;
    margin-right: 10px;
    font-weight: bold;
    border-bottom: 1px solid #0075cc;
    padding-bottom: 17px;
    margin-bottom: 17px;
}

.index-chosen .title::after {
    content: "";
    position: absolute;
    z-index: 999;
    height: 11px;
    width: 146px;
    bottom: -6px;
    left: 0;
    background: #FFF url(../img/index_img04.svg) left bottom no-repeat;
}

.index-chosen .box:first-child .img {
    position: relative;
}

.index-chosen .box:first-child .img::after {
    content: "";
    position: absolute;
    right: -24px;
    bottom: 18px;
    background: url(../img/index_img05.svg) right no-repeat;
    width: 185px;
    height: 103px;
}

.index-chosen .box:nth-child(2) .img {
    position: relative;
}

.index-chosen .box:nth-child(2) .img::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -18px;
    background: url(../img/index_img06.svg) right no-repeat;
    width: 198px;
    height: 117px;
}

.index-chosen .box:nth-child(3) .img {
    position: relative;
}

.index-chosen .box:nth-child(3) .img::after {
    content: "";
    position: absolute;
    right: -35px;
    bottom: -12px;
    background: url(../img/index_img07.svg) right no-repeat;
    width: 133px;
    height: 138px;
}

.index-instagram {
    background: #efefef;
    padding: 30px 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-instagram ul.list {
    display: flex;
    width: 100%;
    max-width: 560px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.index-instagram ul li {
    margin-bottom: 10px;
}
.index-instagram .instagram {
    max-width: 196px;
    width: 100%;
}

.index-instagram .title {
    font-size: 3rem;
    line-height: 2.16;
    font-weight: bold;
    color: #002d4f;
}

.index-instagram .btn {
    max-width: 190px;
    width: 100%;
    margin-bottom: 44px;
}

.index-instagram .btn a {
    position: relative;
    display: block;
    font-size: 1.5rem;
    color: #0075cc;
    border-radius: 17px;
    background: #ffffff;
    border: 1px #0075cc solid;
    text-decoration: none;
    padding: 1px 27px 1px 10px;
}

.index-instagram .btn a::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    background: url(../img/index_img09.svg) right center no-repeat;
    transition: 0.3s;
}

.index-instagram .btn a:hover::after {
    transform: translate(5px, -50%);
}

.index-instagram .text {
    line-height: 1.8571;
    letter-spacing: 0.02em;
}
@media screen and (max-width: 800px){
    .index-replacement {
        padding: 55px 15px 0;
    }
    .index-replacement .box-info {
        flex-direction: column;
        align-items: center;
    }
    .index-replacement .box-img {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .index-replacement .box-text {
        max-width: 100%;
    }
    .index-replacement .box-table {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .index-replacement .box-table dl {
        max-width: 100%;
    }
    .index-replacement .box-table dl:last-child{
        margin-top: 4px;
    }
    .index-instagram {
        flex-direction: column;
        padding: 30px 15px 20px;
    }
    .index-instagram .instagram {
        margin-bottom: 20px;
    }
    .index-instagram ul.list {
        justify-content: center;
        max-width: 100%;
    }
    .index-instagram ul li {
        margin: 5px;
    }
    .index-replacement .box-midle {
        background: none;
    }
}
@media screen and (max-width: 600px){
    .index-chosen .box {
        flex-direction: column-reverse;
        align-items: center;
    }
    .index-chosen .info {
        margin-right: 0;
        margin-top: 20px;
    }
}
@media screen and (max-width: 420px){
    .index-replacement .box-table dd {
        padding: 9px 15px;
    }
    .index-replacement .box-table dl:last-child dd {
        padding: 0px 15px 1px;
    }
}